<table border="1">
  <thead>
    <tr>
      <th>Number</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each_with_index do |p, index| %>
    <% index = index + 1 %>
      <tr>
        <td><%= index %></td>
        <td><%= p.full_name %></td>
        <td>
          <%= link_to "Ver", person_path(p) %>
          <%= link_to "Editar", edit_person_path(p) %>
          <%= link_to "Eliminar", person_path(p), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</br>

<%= link_to "Nueva Persona", new_person_path %>